aside {
    position: fixed;
    bottom: 0; /* aside na parte em baixo da viewport */
    right: 0;
    transform: translateY(100%); /* Esconder no inicio*/
    width: 8%; 
    background-color: var(--green1);
    padding: 2em; 
    color: var(--green5);
    font-size: 16px; 
    font-weight: 700;
    box-shadow: 0 0 10px var(--green2); 
    z-index: 100; /* certeza que fica por cima dos outros elem.*/
    transition: transform 0.3s ease; 
}

.show-aside {
    transform: translateY(0); /* aside para dentro da view*/
}

button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--pink1);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 20px; 
}

button:hover {
    background-color: var(--pink2);
}
