aside {
    position: fixed;
    top: 50%; 
    right: 0;
    transform: translateY(-50%);/*centra direito*/
    width: 8%; 
    background-color: var(--green1);
    padding: 2em; 
    color: var(--green5);
    font-size: 0.0001em; 
    box-shadow: 0 0 10px var(--green2); 
    z-index: 100; /* Ter a certeza que fica em cima de outras cenas */
}
