/* checkoutItem.css */

/* Reset default margin and padding */


body {
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
}
/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


p {
    font-size: 18px;
    line-height: 1.5;
    color: #cc3f3f;
    margin-bottom: 20px; /* Add spacing below paragraphs */
}

/* Form styles */
form {
    margin-bottom: 20px; /* Add spacing between forms */
}


label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Use a modern font */
    font-weight: 500; /* Use a medium or semi-bold weight for a modern look */
    text-transform: uppercase; /* Transform text to uppercase for a contemporary feel */
    letter-spacing: 1px; /* Add some letter spacing for better readability */
}



#output {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}



.checkout button[type="submit"] {
    margin-top: 20px;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #95d86b;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.checkout button[type="submit"]:hover {
    background-color: #3b7c18;
}

.remove_checkout button[type="submit"] {
    margin-top: 10px;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.remove_checkout button[type="submit"]:hover {
    background-color: #cc0000; 
}


#currency_conversion select {
    width: 25%;
    padding: 12px 32px 12px 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative; /* Posição relativa para o posicionamento abosluto da seta SEE LATER*/
}

/* ter seta para baixo AINDA NAO ESTÁ A FUNCIONAR!!!!!! */
#currency_conversion select::after {
    content: ''; /* Empty content VER MELHOR */
    position: absolute;
    top: calc(50% - 6px); /* Ajustar posição vertical da seta */
    right: 12px; /* Ajustar distancia from the right */
    width: 12px; 
    height: 12px; 
    background-image: url('/ltw-project-2024-ltw14g02/images/arrow_down.png'); 
    background-repeat: no-repeat;
    background-size: contain; /* Ajustar depois que ainda nao esta a funcionaer */
}

/*focado, mas ver se é essencial ter focus */
#currency_conversion select:focus {
    outline: none;
    border: 1px solid #bedfb9;
    box-shadow: 0 0 5px rgba(129, 201, 134, 0.5);
}

/* quando clico */
#currency_conversion select:hover {
    background-color: #c5d5b3;
}
