.logout button {
    background-color:var(--green3);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style:normal;
    cursor: pointer;
    border-radius: 999em;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.logout button:hover {
    background-color: var(--green5);
    transform: translateY(-2px); 
}


.logout button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); 
}