.menu {
    position: fixed;
    top: 60px; /* Assuming header height is 60px, adjust this value according to your header's height */
    left: 0;
    height: calc(100% - 60px); /* Adjust this value based on the space you want between header and menu */
    width: 200px;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    /* The value of overflow-y can also be set to 'scroll' to force a scrollbar regardless of content height */
}

/* unordered list */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* list items */
.menu li {
    margin: 10px 0;
}

/* links */
.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: var(--pink2);
    color: #fffafa;
}
